[buildout]

extends =

parts +=

show-picked-versions = true
#extends = versions.cfg
#versions = versions

download-cache = var/downloads
eggs-directory = var/eggs
develop-eggs-directory = var/develop-eggs
parts-directory = var/parts

src-directory = ${buildout:directory}/app
distlib-directory = ${buildout:src-directory}/distlib
